<div class='navbar-default'>
  <ul id='nav'>
    <li><%=link_to 'Logout', sessions_logout_path, :class=>'inline' %></li>
    <li><%=link_to 'Your Profile', user_path(current_user.id), :class=>'inline'%></li>
      <li><%=link_to 'Submit Project', new_project_path, :class=>'inline' %></li>
    <li><%= link_to 'All Projects', projects_path, :class=>'inline'%></li>
    <li><%= link_to 'Students', users_path, :class=>'inline'%></li>
    <li><%=link_to 'DojoProjects', about_path, :class=>'left' %></li>
  </ul>

</div>

<h1>Edit your profile</h1>
<%= form_for(@user) do |f| %>

  <%= f.label :username %><br>
  <%= f.text_field :username %><br>

  <%= f.label :name %><br>
  <%= f.text_field :name %><br>

  <%= f.label :email %><br>
  <%= f.text_field :email %><br>

  <%= f.label :location %><br>
  <%= f.text_field :location %><br>

  <%= f.label :image_Link %><br>
  <%= f.text_field :image %><br>

  <%= f.label :github %><br>
  <%= f.text_field :github %><br>

  <%=f.submit%>
<% end %>

<% if flash[:errors]%>
    <%flash[:errors].each do |error|%>
    <p><%=error%></p>
  <%end%>
<%end%>
