<div class='navbar-default'>
  <ul id='nav'>
    <li><%=link_to 'Logout', sessions_logout_path, :class=>'inline' %></li>
    <li><%=link_to 'Your Profile', user_path(current_user.id), :class=>'inline'%></li>
      <li><%=link_to 'Submit Project', new_project_path, :class=>'inline' %></li>
    <li><%= link_to 'All Projects', projects_path, :class=>'inline'%></li>
    <li><%= link_to 'Students', users_path, :class=>'inline'%></li>
    <li><%=link_to 'DojoProjects', about_path, :class=>'left' %></li>
  </ul>

</div>

<h1>Students</h1>
<table>
  <tr>
    <th>Username</th>
    <th>Name</th>
    <th>Projects</th>
    <th>Total Likes</th>
  </tr>


<div class="">
  <%@users.each_with_index do |user, i|%>
  <tr>
  <td><%=link_to user.username, user_path(user)%></td>

        <td><%=user.name%></td>
    <td> <%=user.projects.count%></td>
    <td> <%=user.likes.count%></td>
</tr>
  <%end%>

</div>
