<div class='navbar-default'>
  <ul id='nav'>
    <li><%=link_to 'Logout', sessions_logout_path, :class=>'inline' %></li>
    <li><%=link_to 'Your Profile', user_path(current_user.id), :class=>'inline'%></li>
      <li><%=link_to 'Submit Project', new_project_path, :class=>'inline' %></li>
    <li><%= link_to 'All Projects', projects_path, :class=>'inline'%></li>
    <li><%= link_to 'Students', users_path, :class=>'inline'%></li>
    <li><%=link_to 'DojoProjects', about_path, :class=>'left' %></li>
  </ul>

</div>


<img src=<%=@user.image%> alt="Profile picture" height="150" width="150"><br>
Name: <%=@user.name%><br>
Username: <%=@user.username%><br>
Github: <a href=<%=@user.github%>><%=@user.github%></a><br>
Location: <%=@user.location%><br>

<%=link_to 'Edit Profile', edit_user_path(@user)%>
<%= link_to 'Delete Account',  { action: :destroy, id: @user.id }, method: :delete, data: { confirm: 'Are you sure?' } %>


<%@projects.each do |project|%>
  <div class='card'>
    <iframe width="1024" height="768" src="<%=project.url%>" style="-webkit-transform:scale(0.5);-moz-transform-scale(0.5);"></iframe>
  <%=project.github%>
</div>
<%end%>
