<img src=<%=@user.image%> alt="Profile picture" height="150" width="150"><br>

Username: <%=@user.username%><br>
Name: <%=@user.name%><br>
Github: <a href=<%=@user.github%>><%=@user.github%></a><br>
Location: <%@user.location%><br>

<%=link_to 'Edit Profile', edit_user_path(@user)%>
<%= link_to 'Delete Account',  { action: :destroy, id: @user.id }, method: :delete, data: { confirm: 'Are you sure?' } %>
