<div class='navbar-default'>
  <ul id='nav'>
    <li><%=link_to 'Logout', sessions_logout_path, :class=>'inline' %></li>
    <li><%=link_to 'Your Profile', users_path, :class=>'inline'%></li>
      <li><%=link_to 'Submit Project', new_project_path, :class=>'inline' %></li>
    <li><%= link_to 'All Projects', projects_path, :class=>'inline'%></li>
    <li><%= link_to 'Students', users_path, :class=>'inline'%></li>
      <li><%=link_to 'DojoProjects', about_path, :class=>'left' %></li>
  </ul>

</div>

insert 'about' trash

NEEDS FRONTEND


rails search bar
https://www.youtube.com/watch?time_continue=5&v=q9tkMbGM9lY
  search by username?
  name?
  search by title?
  description????


collaborators field?

tags field?
  languages?
  custom tags???? no



Lectures table?
  All Lectures
  Add Lecture?

Upvotes and downvotes?
  maybe just likes?
  -'likes' sucks


section to view users?
  view total uploads?
  view total likes/dislikes?
