<div class='navbar-default'>
  <ul id='nav'>
    <li><%=link_to 'Logout', sessions_logout_path, :class=>'inline' %></li>
    <li><%=link_to 'Your Profile', user_path(current_user.id), :class=>'inline'%></li>
      <li><%=link_to 'Submit Project', new_project_path, :class=>'inline' %></li>
    <li><%= link_to 'All Projects', projects_path, :class=>'inline'%></li>
    <li><%= link_to 'Students', users_path, :class=>'inline'%></li>
    <li><%=link_to 'DojoProjects', about_path, :class=>'left' %></li>
  </ul>

</div>

<div>
  <h1> <%=@project.title%></h1>
  <h3>Created by: <img src=<%=@user.image%> alt="Profile picture" class='user_avatar'> <%=@user.name%>
  <%if @project.user==current_user%>
  <%= link_to 'Delete Project',  { action: :destroy, id: @project.id }, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%end%>

  <%=@project.description%>
  <%=@project.url%>
  <%=@project.github%>
  <%=@project.youtube%>
  <%=@project.created_at.strftime("%B %d, %Y")%>
</div>
