<!DOCTYPE html>
<html ng-app="Dojo Projects">
<head>
  <title>Dojo Projects</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<div class="flatback">
  <%= render 'layouts/navigation' %>
  <%= yield %>

<footer class="footer_center">
  <small>&copy; 2017 Developed by <a href="http://www.github.com/drewvpham">Drew Pham</a> for fellow <a href="http://www.codingdojo.com" target="_blank">Coding Dojo</a> students</small>
</footer>


</body>
</html>
